<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Homepage</title>

    <link rel="stylesheet"heet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body> 
  <center>
  <img src="https://github.com/doggocaliper/Savetheworld1/blob/main/Heading.png?raw=true" alt="logo" width="200" height="200">
  <h1>Homepage</h1>
  <ul>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="typetest.html">Type Test</a></li>
  <li><a href="matchme.html">Match Me</a></li>
  <li><a href="matchwith.html">Matchables</a></li>
  <li><a href="tips.html">Tips</a></li>
  <li><a href="chatgpt.html">Chat</a></li>
  </ul>
  <h2>"I'm feeling lonely. Oh I wish I'd find a lover that could hold me :("</h2>
  <h2>Ever felt this way? If so, you have come to the right place.</h2>
  <h3>In our very own heartlands, Singapore is facing a very serious problem of low birth rates. According to CNA 2023, Singapore’s total fertility rate has dropped to a historic low of 1.05.
  <br><br>This is considered a rather serious problem, since with lesser people to populate Singapore, there is lesser manpower to operate the workplaces in Singapore, and in turn generate lesser money for the Singapore economy.
  <br><br>When more 16 to 19 year olds start dating at a younger age, they would have a better idea of who they want their future partner to be like. When they attempt to concurrently juggle their relationships together with their studies, they can be more mature as they learn how to utilise their time properly.
  <br><br>This would lead to them being more responsible adults in the future, who would possibly get married at an earlier age and subsequently produce offsprings. This is beneficial for the whole of the Singapore economy.
  <br<br>Hence, we aim to provide a matchmaking service for students in Anderson Serangoon Junior College, which is what you are seeing right now.
  <br><br>We are hoping that the students of ASRJC are kind hearted, and would not misuse the data here. Thank you for reading and we hope you have a nice day.
  <br><br><h2>From the creators (us 3 + others who have helped us) of this web app,</h2>
  <br><br>

  <br>
  </h3>
  </body>
</html>
