<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Type Test</title>
  <center>
    
  <img src="https://github.com/doggocaliper/Savetheworld1/blob/main/Heading.png?raw=true" alt="logo" width="200" height="200">
  <h1>Don't know what your type is?</h1>
  <ul>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="typetest.html">Type Test</a></li>
  <li><a href="matchme.html">Match Me</a></li>
  <li><a href="matchwith.html">Matchables</a></li>
  <li><a href="tips.html">Tips</a></li>
  <li><a href="chatgpt.html">Chat</a></li>
  </ul>
  
  
    
	<li><a href="https://www.truity.com/test/which-personality-type-your-love-match" target="_blank">love match</a></li>
  <br>
  <br>
  </head>
  </center>

</html>
